# Dependencies
node_modules/

# Environment Variables
.env

# Database
*.db
*.sqlt
*.sqlite


# Operating System Files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log
sqlite.db.bak
CLAUDE.md
